.photo-gallery-page {
  position: relative;
  width: 960px;
  height: 540px;
  background: #F2F2F2;
  overflow: hidden;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Header */
.photo-gallery-page__wordmark {
  position: absolute;
  left: 30px;
  top: 14px;
  height: 22px;
  width: auto;
}

.photo-gallery-page__year {
  position: absolute;
  right: 30px;
  top: 14px;
  font-size: 13px;
  font-weight: 400;
  color: #1A1A1A;
}

.photo-gallery-page__label {
  position: absolute;
  left: 30px;
  top: 38px;
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.photo-gallery-page__rule {
  position: absolute;
  left: 30px;
  top: 54px;
  width: 900px;
  border: none;
  border-top: 1px solid #E5E5E5;
  margin: 0;
  padding: 0;
}

/* Content area */
.photo-gallery-page__grid {
  position: absolute;
  left: 30px;
  top: 60px;
  width: 900px;
  height: 460px;
}

.photo-gallery-page__cell {
  position: absolute;
  overflow: hidden;
}

.photo-gallery-page__cell img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-gallery-page__cell-placeholder {
  width: 100%;
  height: 100%;
  background: #E8E8E8;
  border: 1px dashed #CCCCCC;
  box-sizing: border-box;
}
